<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>03_计算属性</title>
</head>
<body>
<div id="app">
    姓：<input type="text" placeholder="姓氏"  v-model="firstName"><br>
    名：<input type="text" placeholder="名字" v-model="lastName"><br>
    姓名2（单向）：<input type="text" placeholder="姓名2" v-model="fullName2"><br>
    姓名3（双向）<input type="text" placeholder="姓名3双向">

</div>
<script src="js/vue.js" type="text/javascript"></script>
<script type="text/javascript">
   var vm =  new Vue({
        el: '#app',
        data: {
            firstName: 'A',
            lastName: 'B',
            fullName2: 'A B'
        },
        watch: {
            // 这个方法就是监视firstName，值发生改变是被调用执行函数
            // 函数可以传入两个参数代表新值和改变之前的值，也可以传一个，也可以不传
            firstName: function(value){ 
                this.fullName2 = value+ ' ' + this.lastName
            }
        }
    })
    vm.$watch('lastName',function(value){
        this.fullName2 = this.firstName + ' ' + value
    })
</script>
</body>
</html>